---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Badr Choubai</title>
		<style>
			:root {
				--bg-dark: #000000;
				--bg-light: #e3e3e3;
				--text-accented: #fb923c;
				--text: #ffffff;
				--root-font: "Avenir", sans-serif;
			}
			
			body {
				background-color: var(--bg-dark);
				color: var(--text);
				font-family: var(--root-font);
				font-size: calc(10px + 0.33vw);
				font-weight: 700;
				-webkit-font-smoothing: antialiased;
			}
			
			main {
				padding: 5vh 10vw;
				margin: 0 auto;
				width: 80%;
			}
			
			h1 {
				font-size: 4.5em;
				font-weight: 500;
				margin-bottom: 0;
			}
			
			p {
				font-size: 1.6em;
				font-weight: 300;
				line-height: 1.4;
				max-width: 28em;
			}
			
			a {
				white-space: nowrap;
			}
			
			#ButtonBlock {
				display: flex;
				flex-wrap: wrap;
				gap: 12px;
			}
			
			.accented {
				color: var(--text-accented);
			}
			
			.btn {
				padding: 12px;
				color: var(--text);
				text-decoration: none;
			}

			.opaque {
				background-color: rgba(251,146,60,.4)
			}
			
		</style>
	</head>
	<body>
		<main id="main">
			<section>
				<article>
					<header>
						<h1>Badr Choubai</h1>
					</header>
					<p>My name is Badr Choubai. I'm an early-career software developer, interested in solving problems&mdash;Nothing specific yet.</p>
					<p><span class="accented">Doing what I love to do what I love more: </span>being active and outdoors, enjoying the city I live in and away from my computer</p>
					<p>I'm opinionated about things and I enjoy watching the World, even if I can't predict the future</p>
				</article>
				<div id="ButtonBlock">
					<a class="btn opaque" href="https://www.github.com/BadrChoubai">GitHub</a>
					<a class="btn opaque" href="https://www.meetup.com/active-after-work/">Active After Work</a>
				</div>
			</section>
		</main>
	</body>
</html>
